* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mycontainer {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 20px;
}
#header {
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
	position: relative;
	z-index: 2;
    list-style: none;
}

.nav > li {
    float: left;
    margin-right: 20px;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}

.nav li a:hover {
    background-color: #434343;
}
.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0;
}
.image-container {
    position: relative;
	z-index: 1;
}

.company-logo {
	position: absolute;
	top: 215px;
	left: 629px;
	z-index: 1;
	width: 426px;
	height: 396px;
}
.bg-image {
	opacity: 0.6;
  }
#titulo{
	text-align: right;
	color: red;
}
#subtitulo {
            text-align: center;
            font-size: 1.5em; 
        }
.galeria {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
.cuadro {
            border: 1px solid #ccc;
            border-radius: 15px;
            margin: 10px;
            padding: 10px;
            width: calc(20% - 20px);
            box-sizing: border-box;
            text-align: center;
        }
.precio {
            color: #D41717;
        }
.content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
.content img {
            margin-left: 20px;
        }
.logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        
.titulo-grande {
            font-size: 3em; 
            color: #CE1515;
        }
.cotizacion {
            background-color: red !important;
        }
.cotizacion:hover {
            background-color:#BB4D4D !important;
        }
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    height: auto;
}

/* style.css */
.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery a {
    margin: 10px;
    position: relative;
}

.gallery img {
    width: 490px;
    height: 490px;
    object-fit: cover;
}

.gallery a::before {
    content: attr(data-caption);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery a:hover::before {
    opacity: 1;
}

