* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5a5959; /* Fondo gris para todas las páginas */
    color: white; /* Texto blanco para contraste */
    font-family: Arial, Helvetica, sans-serif; /* Tipografía común */
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav {
    list-style: none;
    position: relative;
    z-index: 2;
}

.nav > li {
    float: left;
    margin-right: 20px;
}

.nav li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
    filter: brightness(1.1); /* Aclarar el color negro */
}

.nav li a:hover,
.cotizacion:hover {
    background-color: #434343;
    filter: brightness(1.1); /* Aclarar el color negro al pasar el cursor */
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    right: -140px;
    top: 0;
}

.intro .image-container {
    position: relative;
    z-index: 1;
}

.intro .company-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; /* Asegurar que el logo esté sobre otros elementos */
    width: 426px;
    height: 396px;
    filter: none; /* El logo no se ve afectado por el filtro */
}

.intro .bg-image {
    width: 100%;
    opacity: 0.6; /* Restablecer la opacidad original */
}

footer {
    background-color: #3c3737;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    filter: brightness(1.1); /* Aclarar el color negro */
}

#titulo {
    text-align: right;
    color: red;
}

#subtitulo {
    text-align: center;
    font-size: 1.5em; 
}

.titulo-grande {
    font-size: 3em; 
    color: #CE1515;
}

.cotizacion {
    background-color: red !important;
}
